<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Superslides - A fullscreen slider for jQuery</title>
  <link rel="stylesheet" href="stylesheets/superslides.css">
</head>
<body>
  <div id="slides">
    <div class="slides-container">
      <% @images.each do |image| %>
      <img src="<%= "#{image}" %>">
      <% end %>
    </div>

    <nav class="slides-navigation">
      <a href="#" class="next"><img src="images/right.png"></a>
      <a href="#" class="prev"><img src="images/left.png"></a>
    </nav>   
  </div>
 


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="javascripts/jquery.easing.1.3.js"></script>
  <script src="javascripts/jquery.animate-enhanced.min.js"></script>
  <script src="javascripts/hammer.min.js"></script>
  <script src="javascripts/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
  <script>
    $(function() {
      var $slides = $('#slides');

      Hammer($slides[0]).on("swipeleft", function(e) {
        $slides.data('superslides').animate('next');
      });

      Hammer($slides[0]).on("swiperight", function(e) {
        $slides.data('superslides').animate('prev');
      });

      $slides.superslides({
        hashchange: true
      });
    });

  </script>
</body>
</html>
